.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-datatable-footer .ui-button {
    float: left; 
    margin-top: 25px !important; 
}

.ui-button {
    margin-top: 10px !important;
}

.person-icon {
    background: url(img/person.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.editProfile-icon {
    background: url(img/editProfile.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.people-icon {
    background: url(img/people.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.steps-icon {
    background: url(img/steps.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.steps-icon-16 {
    background: url(img/steps16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.report-icon {
    background: url(img/report.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.role-icon {
    background: url(img/role.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.inicio-icon {
    background: url(img/home.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.header {
    font-size: 36px !important;
    text-transform: uppercase;
    position: relative;
    bottom: 30px;
    margin-left: 10px;
}

.subheader {
    font-size: 9px !important;
    bottom: 0px;
}

.alignTop {
    vertical-align: top !important;
}

.ui-menuitem-text {
    margin-top: 7px;
    margin-left: 5px;
}

.ui-datatable .ui-column-filter {
    margin: 0 !important;
}

.ui-datatable .ui-sortable-column {
    text-align: left !important;
}

.config-icon {
    background: url(img/config.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.logout-icon {
    background: url(img/logout.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.sleep-icon {
    background: url(img/sleep.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.sleep-icon-16 {
    background: url(img/sleep16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.map-icon {
    background: url(img/map.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.map-icon-16 {
    background: url(img/map16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.session-icon {
    background: url(img/session.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.session-icon-16 {
    background: url(img/sessions16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.pieChart-icon {
    background: url(img/pieChart.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.lineChart-icon {
    background: url(img/lineChart.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.barChart-icon {
    background: url(img/barChart.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    margin: 0px !important;
    padding: 8px !important;
}

.bold {
    font-weight: bold;
}

.buttonsGrid tr, .buttonsGrid td {
    border-style: none !important;
    padding: 0px !important;
}

.sentToZtreamy {
    background-color: #536DFE;
}

.receivedFromFitbit {
    background-color: #4CAF50;
}

.heart-icon {
    background: url(img/heart.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.heart-icon-16 {
    background: url(img/heart16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.ui-panelgrid.ui-widget.buttonsGrid .ui-widget-content {
    background: transparent;
}

.fitbit-icon {
    background: url(img/fitbit.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.fitbit-sync-icon {
    background: url(img/fitbit-sync.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.alert-icon {
    background: url(img/alert.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.smartDriver-icon {
    background: url(img/smartDriver.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.smartDriver-icon-16 {
    background: url(img/smartDriver16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.suggestion-icon {
    background: url(img/suggestion.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.suggestion-icon-16 {
    background: url(img/suggestion16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.userAccess-icon {
    background: url(img/userAccess.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.languages-icon {
    background: url(img/languages.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.es-icon {
    background: url(img/es.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.en-icon {
    background: url(img/en.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.chart-icon {
    background: url(img/chart.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.system-icon {
    background: url(img/system.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.help-icon {
    background: url(img/help.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.contact-icon {
    background: url(img/contact.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.theme-icon {
    background: url(img/theme.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

.pdf-icon {
    background: url(img/pdf.png) no-repeat !important;
}

.interval-icon-16 {
    background: url(img/interval16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.intervals-icon-16 {
    background: url(img/intervals16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.list-icon-16 {
    background: url(img/list16.png) no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.zip-icon-24 {
    background: url(img/zip24.png) no-repeat !important;
    height: 24px !important;
    width: 24px !important;
    border-style: none !important;
    padding: 0px !important;
    margin-left: 10px;
    cursor:pointer;
}

.simulator-icon {
    background: url(img/robot.png) no-repeat !important;
    height: 32px !important;
    width: 32px !important;
}

/* JYFR - Inicio */
/* Para que los tooltips de los gráficos jqPlot no se mezclen con los textos del gráfico */
.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    background: rgba(208, 208, 208, 0.90) none repeat scroll 0 0;
    padding: 6px !important;
    z-index: 10 !important;
}
/* JYFR- Fin */

/* JYFR - Inicio */
/* Alternativa hasta que corrijan el problema gráfico de los botones de los 'spinners' */
.ui-spinner-button {
    height: 10px !important;
}

.ui-button {
    margin-top: 3px !important;
}
/* JYFR - Fin */

/* Le damos ancho suficiente a los elementos del menú */
ul.ui-menu-child {
    white-space: nowrap;
    width: 260px !important;
}